.card-img-dim {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.bg-img {
  background-image: url(https://img.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-4_1562-749.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1711584000&semt=sph);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
